.post__header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid #eaeaea;
}

.post__title {
  display: flex;
  align-items: center;
  gap: 7px;
}

.post__count {
  color: #707070;
  font-size: 13px;
}

.post__text {
  font-size: 18px;
  font-weight: 600;
}

.btn__change {
  padding: 5px;
  background-color: #3b46c4;
  color: #ffffff;
  border: none;
  border-radius: 8px;
}

.btn__change :hover {
  background-color: #2e379b;
}
