.auth__wrapper {
  align-self: start;
  color: #707070;
  padding: 10px;
  border: 1px solid #eaeaea;
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: white;
  border-radius: 10px;
}

.btn__change {
  color: #5b61e5;
}

.auth__info {
  display: flex;
  flex-direction: column;
}

.auth__name {
  color: black;
  font-weight: 600;
}

.auth__username {
  font-size: 13px;
}

.person__data {
  line-height: 1.3;
}

.auth__info {
  line-height: 1.2;
}

.auth__logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.auth__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  color: #5b61e5;
  background-color: #f3f3ff;
  border-radius: 50%;
}
