.formPostCard__container {
  background-color: white;
  /* height: 100%; */
  border-radius: 10px;
  border: 1px solid #eaeaea;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px;
}

.formPostCard__firstBlock {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.firstBlock__title {
  display: flex;
  justify-content: space-between;
}

.firstBlock__title {
  color: #707070;
}

.firstBlock__text {
  color: black;
}

.firstBlock__general {
  width: 100%;
  padding: 5px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  background-color: white;
  color: #707070;
  outline: none;
  resize: none;
  word-break: normal;
}

.firstBlock__subtitle {
  color: #707070;
  font-size: 14px;
}

.error__title {
  color: red;
}

.formPostCard__secondBlock {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.error__input {
  color: red;
  font-size: 13px;
}

.formPostCard__thirdBlock {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.formPostCard__auth {
  width: 100%;
  padding: 5px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  background-color: #ebebeb;
  color: #7f7f7f;
}

.btns__wrapper {
  display: flex;
  justify-content: end;
  border-top: 1px solid #ebebeb;
}

.formPostCard__btns {
  display: flex;
  gap: 5px;
  margin-top: 2px;
}

.errorSubmit__container {
  display: flex;
  justify-content: end;
}

.errorSubmit__inner {
  padding: 5px;
  background-color: #fff1f0;
  color: #ff4d4f;
  border: 1px solid #ffa39e;
  border-radius: 10px;
}

.spinner__btn {
  width: 16px;
  height: 16px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-top-color: #fff; /* Белая крутящаяся линия */
  border-radius: 50%;
  animation: spin 0.8s linear infinite; /* 🔄 Бесконечное кручение */
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.btn__wrapper{
  display: flex;
  align-items: center;
  gap: 5px;
}