.comment__wrapper {
  padding: 10px 25px 15px 50px;
  border-bottom: 1px solid #eaeaea;
}

.comments__header {
  display: flex;
  gap: 10px;
  position: relative;
}

.comment__email {
  font-weight: 700;
}

.comment__name {
  color: #707070;
}

.comment__body {
  color: #707070;
}

.comment__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 1px;
  left: -30px;
  background-color: #ebebeb;
  color: #707070;
  height: 22px;
  width: 22px;
  border-radius: 100%;
}